<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_topic_page</h1>
        <table border="5px">
            <tr><th>Topic_Name</th></tr>
{% for ta in topik %}
            <tr>
                <td>
                   {{ta.topic_name}}
                </td>
            </tr>
{% endfor %}            


        </table>
        


    </center>
</body>
</html>