<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_accessrecord</h1>
        <table border="5px">
            <tr>
                <th>PK/ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
            {% for ao in access %}
              <tr>
                <td>{{ao.pk}}</td>
                <td>{{ao.name}}</td>
                <td>{{ao.author}}</td>
                <td>{{ao.date}}</td>
              </tr>

            {% endfor %}
        </table>
    </center>
</body>
</html>